*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.head{
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 7px;
    font-weight: bold;
    background-color: var(  --color-primary-500);
    padding-top: 10px;
    color: var( --color-white);
}

.header{
     background-color: var( --color-gray-950);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    gap: 15px;
    border: 1px solid var(--color-gray-800);
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 100000;
    /* overflow: hidden; */
}
.logocon{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}
.logocon .fa-bolt{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: 24px;
    justify-content: center;
    align-items: center;
}
.logo{
    color: var(--color-white);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.navcon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
#links{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 20px;
}
#links li a{
    color: var( --color-gray-300);
    font-size: 14px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 300ms ease-in-out;
    padding: 10px 10px;
    
}
#links li a:hover{
    color: var(--color-primary-600);
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 20px; */
    flex-wrap: nowrap;
    margin-right: 40px;
}
#togglebtn{
    display: none;
    margin-left: 40px;
}
.specials{
    display: none;
}
@media screen and (max-width:884px){
    #nav{
        display: none;
    }
    #links{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 67px;
        left: 0px;
        width: 100%;
        height: 400px;
        align-items: flex-start;
        background-color: var(--color-gray-950);
        padding-top: 10px;
        padding-left: 10px;
        gap: 5px;
        z-index: 100000000;
    }
    #links li a{
        transition: all 500ms ease-in-out;
        display:block;
        font-size: 18px;
        padding: 10px 20px;
    }
    #links li{
        width: 95%;
    }
   
     #links li a:hover{
        color: var(--color-gray-300);
        color:var( --color-gray-300) ; 
        background-color: var(--color-gray-800);
        border-radius: 10px;
     }
    .header{
        display: flex;
        justify-content: space-between;
    }
    #togglebtn{
        display: block;
    }
    .icons{
    display: flex;
    margin-right: 0px;
}
#nav.active{
    display: block;
}
.specials{
    display: block;
    width: 100%;
    margin-top: 10px;
    padding-top: 10px;
   border-top: 1px solid var(--color-gray-800);
}
}