@import "./style.css";
@import "./header.css";
@import "./footer.css";
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.herocont{
    min-height: 100vh;
    width: 100%;
    display: flex;
    /* background:var( --color-gray-900) ; */
    background-image: 
   linear-gradient(rgba(255,255,255,0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.05)  1px, transparent 1px),
    linear-gradient(135deg, var(--color-gray-900) 60%, var(--color-primary-600));
    background-size: 65px 65px,
                 65px 65px, 
                 cover 
    ;
    background-position: 0 0,
    0 0,
    center;
    color: white;
    position:relative;
    left: 0px;
    right: 0px;
    padding-top: 70px;
    padding-left:70px;
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 1fr ;
    overflow: hidden;
}
.lefthero{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.herotitle{
display: flex;
  width: 250px;
  color: var(--color-primary-400);
  background-color: var(--color-primary-550);
  font-size: 17px;
  border-radius: 20px;
}
.fa-bolt{
    padding-left: 10px;
    padding-top: 5px;
}
.step{
    display: flex;
    flex-direction: column;
   font-size: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  gap: 2px;
}
.white {
  color: var( --color-primary-100);
 
}
.orange{
   color:var(--color-primary-400) ;
}
.para{
   color: var(--color-gray-400);
   font-size: 1.2rem;
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: 500;
   letter-spacing: 0.5px;
   width: 440px;
}
.ctacont{
   display: flex;
   gap: 10px;
   width: 100%;
   flex-wrap: wrap;
}
.orangebtn {
   width: 150px;
   height: 50px;
   font-size: 19px;
   font-weight: bold;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   border: none;
   background-color: var(--color-primary-500);
   color: var(--color-white);
   border-radius: 40px;
   box-shadow: 0px 5px 8px var(--color-primary-500);
    transition: all 300ms ease-in-out;
}
.orangebtn a{
      color: var(--color-white);
}
.orangebtn:hover{
    box-shadow: 0px 2px 30px var( --color-primary-500);
}
.whitebtn:hover{
    background-color: var(--color-primary-50T
    );
    transition: all 300ms ease-in-out;
}
.whitebtn{
   width: 200px;
   height: 50px;
   font-size: 19px;
   font-weight: bold;
   color: var(--color-white);
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   border: 2px solid var(--color-gray-400);
   background-color: transparent;
   border-radius:40px;
    transition: all 300ms ease-in-out;
}
.whitebtn a{
      color: var(--color-white);
}
.herocta{
 display: block;
  flex: 1;
}
 .tablecont{
     width: 400px;
    border-top:0.1px solid var(--color-gray-500) ; 
} 
.numcont{
    width: 100%;
    display: flex;
    gap: 30px;
}
.tcont{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 width: fit-content !important;
 max-width: fit-content !important;
 min-width: fit-content !important; 
margin-top: 40px;
}
.thead{
  font-size: 2rem;
  color: var(--color-white);
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.thead .fa-star{
    font-size: 12px;
    color: yellow;
}
.happy{
     font-size: 1rem;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     color: var(--color-gray-400);
}
.border{
  border-right: 0.1px solid var(--color-gray-500) ;
  padding-right: 10px;
}
.righthero{
    position: relative;
     width: 450px;
    max-width: 600px;
    margin: auto;
    /* overflow: hidden; */
}

.heroimage{
    position: relative;
    width: 100%;
    margin-top: 30px;
    transform: rotate(-6deg);
    animation-name: shoe;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    
}
@keyframes shoe{
    0%{
        transform: translateY(0px)rotate(-3deg);
     }
    5%{
         transform: translateY(-4px)rotate(-4deg);  
    }
    10%{
        transform: translateY(-20px)rotate(-4deg);
    
    }
    15%{
        transform: translateY(-12px)rotate(-4deg);

    }
    30%{
        transform: translateY(0px)rotate(-4deg);
         
    }
}
.shopNavigate{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: var(--color-gray-400);
    width: 100%;
    /* background-color: red; */
    grid-column: span 2;
}
.shopNavigate a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--color-gray-400);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
     transition: all 300ms ease-in-out;
}
.shopNavigate a:hover{
    color: var(--color-white);
}
.shopNavigate h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-arrow-down{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* padding-left: 20px; */
    padding-top: 10px;
    animation: bounce 2s infinite ease-in-out;
    padding-bottom: 5px;
}
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(5px);
    }
}

.box1{
    height:90px;
    width: 90px;
   background-color: var(--color-primary-500);
     border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  bottom: 230px;
  right: 0px;
  font-size: 1rem;
}
.box2{
    width: 160px;
    height: 70px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: var(--transparentbox-color
    ); 
    /* background: transparent; */
    backdrop-filter: blur(20px);
    position: absolute;
    bottom: 200px;
    right:360px;
    border-radius: 10px;
}
.iconcont{
display: flex;
flex-direction: column;
}
.icon{
display: flex;
align-items: center;
justify-content: center;
height: 30px;
width: 30px;
color: var( --color-transparent-green);
background: var( --bgcolor--transparent-green);
border-radius: 50%;
text-align: center;
margin-bottom: 10px;
padding-top: 5px;
}

.freecont{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 10px;
}
.freecont h3{
 display: flex;
 flex-direction: column;
 
 gap: 10px;
 font-size: 1rem;
 color: var(--color-white);
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.freecont p{
 /* padding-left: 40px; */
 font-size: 14px;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 color: var(--color-gray-400);
}
.box3{
    width: 160px;
    height: 70px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: var(--transparentbox-color
    ); 
    /* background: transparent; */
    backdrop-filter: blur(20px);
    position: absolute;
    bottom: 100px;
    right:-10px;
    border-radius: 10px;
}
.icon2{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color: var( --color-primary-600);
background: var(--bgcolor-transparent-color);
height: 30px;
width: 30px;
border-radius: 50%;
text-align: center;
padding-top: 5px;
margin-top: 2px;
margin-left: 5px;
}
.cat{
    display: flex;
    flex-direction: column;
    background-color: var(--color-gray-950);
    padding: 50px 50px;
     padding-top: 100px;
     gap: 40px;
     padding-bottom: 50px;
}
.backgroundcover{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: linear-gradient(to bottom, transparent 40%, rgba(6,32,70,0.7));
     transition: all 0.5s linear;
}
.categoryimages{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    /* margin: auto; */
    gap: 20px;
    
}
.categoryimages img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
    /* position: relative; */
}

.categorycards{
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
}
.realimg{
   transition: all 0.5s linear;
}
.categorycards:hover .realimg{
    transform: scale(1.05);
}

.category{
  display: flex;
  justify-content: space-between;
}
.shopcont{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.shopCt{
    color: var(--color-white);
    font-size: 2.1rem;
}
.perfect{
       font-size: 1rem;
       color: var(--color-gray-400);
}
.viewcont{
   display: flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.View{
    font-weight: 600;
    font-size: 1rem;
   color: var(--color-primary-500);
   transition: all 0.5s linear;
}
.View:hover{
    color: var(--color-primary-700);
}
.letterscont{
    position: absolute;
    bottom: 30px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.title{
    height: 20px;
    width: 100px;
    background: transparent;
    backdrop-filter: blur(14px);
    border-radius: 10px;
     color: var(--color-white);
     font-weight: 400;
     text-align: center;
}
.run{
   font-weight: 700;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   color: var(--color-white);
}
.imagesp{
    font-size: 1.1rem;
   color: var(--color-gray-200);
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: 400;
}
.shopnow{
    display: flex;
    color: var(--color-white);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    gap: 10px;
    transition: all 0.5s linear;
}
.categorycards:hover .fa-arrow-right{
    transform: translateX(5px);
}
.collectioncont{
    display: flex;
    flex-direction: column;
    background-color: var(--color-gray-900);
     padding: 50px 50px;
    padding-top: 80px;
    gap: 30px;
    padding-bottom: 100px;
}
.collectionimages{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    width: 100%;
    /* margin: auto; */
    gap: 10px;
    transition: all 1s linear;
    object-fit: cover;
    /* border-bottom: 1px solid var(--color-gray-400); */
     padding-bottom: 30px;
}
.collectionimage1{
     display: grid;
       width: 100%;
       /* height: 574.36px; */
     position: relative;
     overflow: hidden;
      transition: all 1s linear;
      cursor: pointer;
       transition: all 0.5s linear;
}
.opacitycont{
    width: 100%;
   height: 288px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
     transition: all 0.5s linear;
}
.opacitycont img{
     width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}
.imagechild1{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s linear;
    object-fit: cover;
}
 .collectionimage1 .opacitycont .imagechild1:hover{
    opacity: 0;
    inset: 0;
    transform: scale(1.05);
}
.imagechild2{
    width: 100%;
    height: 100%;
     opacity: 0;
     position: absolute;
     inset: 0px;
     border-radius: 15px;
      transition: all 0.5s linear;
}

.collectionimage1:hover .imagechild2  {
 opacity: 1;
    inset: 1;
    transform: scale(1.05);
}
.imagechild3{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s linear;
}
.collectionimage1:hover .imagechild3{
    transform: scale(1.05);
}
.bestseller{
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    top: 15px;
    left: 15px;
    color: var(--color-white);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.bestseller p{
    width: 80px;
    background-color: var(--color-primary-500);
    border-radius: 10px;
    font-weight: 500;
    padding-left: 10px;
}
.bestseller h1{
   font-size: 1rem;
   width: 85px;
   background-color: var(--color-amber-500);
   border-radius: 10px;
   text-align: center;
}
.new{
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    top: 15px;
    left: 15px;
    color: var(--color-white);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.new h1{
    font-size: 1rem;
   width: 50px;
   background-color: var( --color-green-500);
   border-radius: 10px;
   text-align: center;
}
.addtocart{
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: 0;
    transition: all 0.5s linear;
    cursor: pointer;
}
 .collectionimage1:hover .addtocart{
    opacity: 1;
 }
.addtocart p{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 10px;
      gap: 10px;
     width: 100%;
      font-size: 1rem;
      /* min-width: 350px; */
      height: 40px;
     background-color: var(--color-white);
     border-radius: 10px;
     font-weight: 700;
}
.addtocart .fa-heart{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    height: 40px;
    width: 50px;
    border-radius: 10px;
    font-size: 1.3rem;
}
.addtocart .fa-heart:hover{
    color: red;
}
.velocityRunner{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.velocityRunner h2{
    color: var(--color-white);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all 0.2s linear;
}
.velocityRunner h2:hover{
    color: var(--color-primary-600);
}
.Running{
    display: flex;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}
.Running p{
   color: var(--color-gray-400);
   font-size: 1rem;
}
.Running .fa-star{
     font-size: 12px;
    color: yellow;
}
.span{
    display: flex;
    gap: 5px;
    color: var(--color-gray-400);
}
.span span{
    color: var(--color-white);
    font-weight: 800;
}
.circles{
    display: flex;
    gap: 5px;
}
.redcircle{
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    border: 1px solid gray;
}
.blackcircle{
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    border: 1px solid gray;
}
.bluecircle{
    width: 15px;
    height: 15px;
    background-color: blue;
    border-radius: 50%;
    border: 1px solid gray;
}
.whitecircle{
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid gray;
}
.navybluecircle{
    width: 15px;
    height: 15px;
    background-color: var(--color-gray-800);
    border-radius: 50%;
    border: 1px solid gray;
}
.browncircle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: brown;
    border: 1px solid gray;
}
.graycircle{
     width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: gray;
    border: 1px solid gray;
}
.burlycircle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: burlywood;
    border: 1px solid gray;
}
.lightgreencircle{
    width: 15px;
    height: 15px;
   border-radius: 50%;
   background-color: var(--color-purchase);
    border: 1px solid gray;
}
.sizes{
  color: var(--color-gray-400);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 0.7px;
}
.bordercont{
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
    width: 100%;
    border: 0.5px solid var(--color-gray-700);
}
.freeshippingcont{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    gap: 10px;
    margin-top: 20px ;
}
.free{
    display: flex;
    gap: 10px;
    object-fit: cover;
}
.freeicon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    height: 50px;
    max-width: 100px;
    background-color: var(--brownicon);
    color: var(--color-primary-400);
    border-radius: 8px;
}
.standard{
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.standard h1{
    font-size: 1.5rem;
    color: var(--color-white);
}
.standard p{
    color: var(--color-gray-400);
}
.newArrivals{
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: var(--color-gray-950);
    padding: 50px 50px;
    padding-top: 90px;
}
.dropped{
   display:flex;
   justify-content: center;
   align-items: center;
   gap: 5px;
   color: var(--color-transparent-green);
  width: 150px;
  height: 30px;
  background-color: var( --greencolor);
  border-radius: 20px;
}
.customercont{
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-top: 70px;
}
.customerslove{
     display: flex;
     flex-direction: column;
     gap: 15px;
     align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.customerslove h5{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 30px;
    background-color: var(--brownicon);
    color: var(--color-primary-400);
    font-size: 1rem;
    border-radius: 20px;
}
.customerslove h1{
    display: flex;
    font-size: 1.8rem;
    color: var(--color-white);
}
.customerslove p{
    display: flex;
    text-align: center;
    color: var(--color-gray-400);
    font-size: 0.9rem;
}
.commentcont{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.comment{
    display: flex;
    max-width:350px;
    height: 250px;
    flex-direction: column;
    gap: 20px;
    background-color: var(--color-gray-900);
    padding-left: 20px;
    object-fit: cover;
    border-radius: 10px;
}
.stars{
   color: yellow;
   margin-top: 10px;
}
.comment h4{
    color: var(--color-gray-300);
    font-size: 1rem;
}
.profilecont{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.profileimg{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
.profileinfo{
   display: flex;
   flex-direction: column;
}
.profileinfo h1{
    color: var(--color-white);
    font-size: 1rem;
}
.profileinfo p{
    color: var(--color-gray-400);
}
.happycont{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
  border-top: solid 0.5px var(--color-gray-600);
padding-bottom: 80px;
padding-top: 60px;
margin-top: 50px;
}
.happycont h1{
    color: var(--color-white);
}
.happycont p{
    color: var(--color-gray-400);
    font-size: 1rem;
}
.customerscont{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.customerscont{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.happycustomers{
    border-right: 1px solid var(--color-gray-400);
    padding-right:10px;
    /* padding-left: 30px; */
}
.stepupcont{
     min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: 
    linear-gradient(rgba(255,255,255,0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.05)  1px, transparent 1px),
    linear-gradient(135deg, var(--color-primary-600) );
    background-size: 50px 50px,
                 50px 50px, 
                 cover 
    ;
    background-position: 0 0,
    0 0,
    center;
    position:relative;
    left: 0px;
    right: 0px;
    gap: 30px;
    padding: 50px;
}
.readytostepup{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-white);
    justify-content: center;
    gap: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.readytostepup h1{
    font-size: 2.5rem;
    text-align: center;
}
.stridepara{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    max-width: 570px;
}
.buttons{
   display: flex;
   gap: 10px;
  width: 100%; 
   flex-wrap: wrap;
   margin-top: 20px;
}
.inputcont{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
      
}
.inputcont:focus-within{
 border: 2px solid var(--color-primary-500);
}
.input{
    display: flex;
    flex-direction: column;
    background: var(--color-primary-50T);
    color:  var(--color-white);
    border-radius: 30px;
     border: 1px solid var(--color-primary-600);
     border: none;
     padding-left: 20px;
     border: 2px solid rgba(255, 250, 250, 0.363);
     font-weight: 500;
     width: 100%;
     padding: 20px;
}
.input::placeholder{
    color:  rgba(255, 250, 250, 0.363);
}
.input:focus{
      border: 2px solid var(--color-white);
      outline: none;
}
.getcont{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 150px; */
    border-radius: 30px;
    border: none;
    color: var(--color-primary-500);
    font-weight: 600;
    font-size: 1.2rem;
     padding: 20px;
}
.appscont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    gap: 30px;
}
.appstorage{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.applestore{
    display: flex;
   align-items: center;
    justify-content: center;
    width: 150px;
    height: 60px;
    gap: 10px;
    border-radius: 10px;
 background-color: rgba(17, 17, 17, 0.85);
 transition: all 0.5s ease-in-out;
 cursor: pointer;
}
.applestore:hover{
    background-color: rgba(0, 0, 0, 1);
}
.applecont span{
    font-size: 0.7rem;
    color: var(--color-gray-400);
}
.Strideclub{
    display: flex;
    flex-direction: column;
     justify-content: space-between;
    background-color: var(--color-gray-900);
     padding: 50px 50px;
    padding-top: 50px;
}
.joincont{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.join h3{
    color: var(--color-white);
    font-size: 1.3rem;
}
.join{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.join p{
     color: var(--color-gray-400);
    font-size: 1.1rem;
   font-weight: 500;
    text-align: start;
}
.subscribe{
    display: flex;
    gap: 10px;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.enteremail{
    border: none;
    padding: 20px 60px;
    background: transparent;
    border: 1px solid var(--color-gray-400);
    border-radius: 20px ;
    color: white;
}
.enteremail:focus{
outline: none;
 border: 6px double var(--color-primary-500);
}
.subbtn{
    padding: 20px 40px;
    border-radius: 10px;
    border: none;
    color: var(--color-white);
    background-color: var(--color-primary-600);
    font-size: 1rem;
    font-weight: 700;}
@media screen and (max-width:1023px){
    .herocont{
        padding-top: 90px;
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 20px;
        padding-right: 20px;
        gap: 20px;
    }
    .ctacont{
        flex-direction: column;
        align-items: center;
    }
    .orangebtn,.whitebtn{
        display: block;
        width: 90%;
        padding: 15px;
    }

    .lefthero{
        display: flex;
        align-items: center;
        justify-content: center;
    }
.step{
   display: flex;
    flex-direction: column;
   font-size: 1.5rem;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   gap: 2px;
   }
.para{
   font-size: 1.1rem;
   text-align: center;
   /* width: 500px; */
}  
.shopNavigate{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: var(--color-gray-400);
    grid-column: span 1;
    /* width: 100%; */
}
.categoryimages{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* margin: auto; */
      width: 100%;
}
.redshoe{
grid-column: 1/3;
width: 100%;
}
.collectionimages{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  
}
.opacitycont{
    width: 100%;
    height: 422px;
}
.cat{
      display: flex;
    flex-direction: column;
    background-color: var(--color-gray-950);
    padding: 20px 20px;
     padding-top: 100px;
     gap: 40px;
     padding-bottom: 50px;
}
.collectioncont{
    display: flex;
    flex-direction: column;
     padding: 20px 20px;
    padding-top: 80px;
     padding-bottom: 100px;
}
.freeshippingcont{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.newArrivals{
     display: flex;
    flex-direction: column;
    background-color: var(--color-gray-950);
     padding: 20px 20px;
    padding-top: 90px;
}
.commentcont{
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }
    .comment{
    display: flex;
     /* min-width:450px; */
    max-width:100%;
     height: 210px;
    flex-direction: column;
    gap: 20px;
    background-color: var(--color-gray-900);
    padding-left: 20px;
    object-fit: cover;
    border-radius: 10px;
}
.Strideclub{
     display: flex;
     justify-content: center;
     align-items: center;
    background-color: var(--color-gray-900);
     padding: 50px 50px;
    padding-top: 50px;
}
.joincont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.join{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: justify;
}
.join p{
    color: var(--color-gray-400);
    font-size: 1.1rem;
   font-weight: 500;
   text-align: center;
}
}
@media screen and (max-width:640px){
    .categoryimages{
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
    }
    .redshoe{
        grid-column: auto;
    }
    .category{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .shopCt{
        font-size: 2rem;
    }
    .perfect{
        font-size: 1.2rem;
    }
    .collectioncont{
         display: flex;
         flex-direction: column;
         padding: 20px 20px;
         padding-top: 80px;
          padding-bottom: 100px;
    }
    .collectionimages{
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
    
    }
    .cat{
          display: flex;
    flex-direction: column;
    background-color: var(--color-gray-950);
    padding: 20px 20px;
     padding-top: 100px;
     gap: 40px;
     padding-bottom: 50px;
    }
    .opacitycont{
        width: 100%;
        height: 422px;
    }
    .freeshippingcont{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .newArrivals{
     display: flex;
    flex-direction: column;
    background-color: var(--color-gray-950);
     padding: 20px 20px;
    padding-top: 90px;
    }
    .newcont{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
    .commentcont{
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }
    .comment{
    display: flex;
    max-width: 100%;
     height: 210px;
    flex-direction: column;
    gap: 20px;
    background-color: var(--color-gray-900);
}
.buttons{
    display: flex;
    flex-direction: column;
}

}