@import "./style.css";
@import "./header.css";
@import "./footer.css";
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.herocont{
    min-height: 100vh;
    width: 100%;
    display: flex;
    /* background:var( --color-gray-900) ; */
    background-image: 
    linear-gradient(var(--color-gray-800) 1px, transparent 1px),
    linear-gradient(90deg, var(--color-gray-800)  1px, transparent 1px),
    linear-gradient(135deg, var(--color-gray-900) 60%, var(--color-primary-500));
    background-size: 65px 65px,
                 65px 65px, 
                 cover 
    ;
    background-position: 0 0,
    0 0,
    center;
    color: white;
    position:relative;
    left: 0px;
    right: 0px;
    padding-top: 70px;
    padding-left:70px;
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 1fr ;
    overflow: hidden;
}
.lefthero{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.herotitle{
  width: 200px;
  color: var(--color-primary-400);
  background-color: var(--color-primary-550);
  font-size: 17px;
  border-radius: 20px;
}
.fa-bolt{
    padding-left: 10px;
    padding-top: 5px;
}
.step{
    display: flex;
    flex-direction: column;
   font-size: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  gap: 2px;
}
.white {
  color: var( --color-primary-100);
 
}
.orange{
   color:var(--color-primary-400) ;
}
.para{
   color: var(--color-gray-400);
   font-size: 1.2rem;
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: 500;
   letter-spacing: 0.5px;
   width: 440px;
}
.ctacont{
   display: flex;
   gap: 10px;
   width: 100%;
   flex-wrap: wrap;
}
.orangebtn{
   width: 150px;
   height: 50px;
   font-size: 19px;
   font-weight: bold;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   border: none;
   background-color: var(--color-primary-500);
   color: var(--color-white);
   border-radius: 40px;
   box-shadow: 0px 5px 8px var(--color-primary-500);
    transition: all 300ms ease-in-out;
}
.orangebtn:hover{
    box-shadow: 0px 2px 30px var( --color-primary-500);
}
.whitebtn:hover{
    background-color: var(--color-primary-50T
    );
    transition: all 300ms ease-in-out;
}
.whitebtn{
   width: 200px;
   height: 50px;
   font-size: 19px;
   font-weight: bold;
   color: var(--color-white);
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   border: 2px solid var(--color-gray-400);
   background-color: transparent;
   border-radius:40px;
    transition: all 300ms ease-in-out;
}
.herocta{
 display: block;
  flex: 1;
}
 .tablecont{
     width: 400px;
    border-top:0.1px solid var(--color-gray-500) ; 
} 
.numcont{
    width: 100%;
    display: flex;
    gap: 30px;
}
.tcont{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 width: fit-content !important;
 max-width: fit-content !important;
 min-width: fit-content !important; 
margin-top: 40px;
}
.thead{
  font-size: 2rem;
  color: var(--color-white);
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.thead .fa-star{
    font-size: 12px;
    color: yellow;
}
.happy{
     font-size: 1rem;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     color: var(--color-gray-400);
}
.border{
  border-right: 0.1px solid var(--color-gray-500) ;
  padding-right: 10px;
}
.righthero{
    position: relative;
    width: 100%;
    margin: auto;
    /* max-width: 600px; */
    /* overflow: hidden; */
}

.heroimage{
    position: relative;
    width: 90%;
    margin-top: 30px;
    transform: rotate(-6deg);
    animation-name: shoe;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    
}
@keyframes shoe{
    0%{
        transform: translateY(0px)rotate(-3deg);
     }
    5%{
         transform: translateY(-4px)rotate(-4deg);  
    }
    10%{
        transform: translateY(-20px)rotate(-4deg);
    
    }
    15%{
        transform: translateY(-12px)rotate(-4deg);

    }
    30%{
        transform: translateY(0px)rotate(-4deg);
         
    }
}
.shopNavigate{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: var(--color-gray-400);
    width: 100%;
    /* background-color: red; */
    grid-column: span 2;
}
.shopNavigate a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--color-gray-400);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
     transition: all 300ms ease-in-out;
}
.shopNavigate a:hover{
    color: var(--color-white);
}
.shopNavigate h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-arrow-down{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* padding-left: 20px; */
    padding-top: 10px;
    animation: bounce 2s infinite ease-in-out;
    padding-bottom: 5px;
}
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(5px);
    }
}

.box1{
    height:90px;
    width: 90px;
   background-color: var(--color-primary-500);
     border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  bottom: 230px;
  right: 0px;
  font-size: 1rem;
}
.box2{
    width: 160px;
    height: 70px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: var(--transparentbox-color
    ); 
    /* background: transparent; */
    backdrop-filter: blur(20px);
    position: absolute;
    bottom: 200px;
    right:360px;
    border-radius: 10px;
}
.iconcont{
display: flex;
flex-direction: column;
}
.icon{
display: flex;
align-items: center;
justify-content: center;
height: 30px;
width: 30px;
color: var( --color-transparent-green);
background: var( --bgcolor--transparent-green);
border-radius: 50%;
text-align: center;
margin-bottom: 10px;
padding-top: 5px;
}

.freecont{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 10px;
}
.freecont h3{
 display: flex;
 flex-direction: column;
 
 gap: 10px;
 font-size: 1rem;
 color: var(--color-white);
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.freecont p{
 /* padding-left: 40px; */
 font-size: 14px;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 color: var(--color-gray-400);
}
.box3{
    width: 150px;
    height: 50px;
  background-color: var(--transparentbox-color
    ); 
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 100px;
    right:-10px;
    border-radius: 10px;
}
.icon2{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color: var( --color-primary-600);
background: var(--bgcolor-transparent-color);
height: 30px;
width: 30px;
border-radius: 50%;
text-align: center;
padding-top: 5px;
margin-top: 2px;
margin-left: 5px;
}
.cat{
    display: flex;
    flex-direction: column;
    background-color: var(--color-gray-900);
     padding-top: 100px;
     gap: 40px;
}
.categoryimages{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    margin: auto;
    gap: 20px;
    
}
.categoryimages img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}
.categorycards{
    position: relative;
}
.category{
  display: flex;
  justify-content: space-between;
}
.shopcont{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.shopCt{
    color: var(--color-white);
    font-size: 2.5rem;
}
.perfect{
       font-size: 1.2rem;
       color: var(--color-gray-400);
}
.viewcont{
   display: flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.View{
    font-weight: 600;
    font-size: 1rem;
   color: var(--color-primary-500);
   transition: all 0.5s linear;
}
.View:hover{
    color: var(--color-primary-700);
}
.letterscont{
    position: absolute;
    bottom: 30px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:1023px){
    .herocont{
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 90px;
    }
    .ctacont{
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .orangebtn,.whitebtn{
        display: block;
        width: 90%;
        padding: 15px;
    }

    .lefthero{
        display: flex;
        align-items: center;
        justify-content: center;
    }
.step{
   display: flex;
    flex-direction: column;
   font-size: 1.5rem;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   gap: 2px;
   }
.para{
   font-size: 1.1rem;
   text-align: center;
   /* width: 500px; */
}  
.shopNavigate{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: var(--color-gray-400);
    grid-column: span 1;
    /* width: 100%; */
}
.categoryimages{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.redshoe{
grid-column: 1/3;
}

}
@media screen and (max-width:640px){
    .categoryimages{
        display: grid;
        grid-template-columns: 1fr;
    }
    .redshoe{
        grid-column: auto;
    }
}